/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 485px;
    margin: 0 auto;
    background-color: #ffffff;
}
h1 {
    color: #007d7b;
    text-transform: uppercase;
    font-size: 3em;
    text-align: left;
    font-weight: bold;
    padding: .25em;
}
ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-transform: uppercase;
    background-color: #000000;
    justify-items: center;
    padding: 3em 1.5em;
    margin-left: -10px;
    font-weight: bold;
}
li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
}
nav {
    position: relative;
    align-items: center;
}
[href="#top"] {
    position: fixed;
    bottom: 0px;
    right: 0px;
    outline: solid;
    outline-width: 3px;
    padding: .4em;
}
h2 {
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    margin: .75em;
}
#hello {
    margin: .75em .5em;
    font-size: 1.25em;
}
p {
    font-size: 1.25em;
    margin: .75em .5em .75em .5em;
    line-height: 1.25;
}
img {
    margin: .5em 2em;
}
#chile {
    color: white;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: -2.5em;
}
#guatemala {
    color: white;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: -17em;
}
#hawaii {
    color: white;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    bottom: 3em;
}
#iran {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    bottom: 39em;
}
#ireland {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    bottom: 38em;
}
#italy {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    bottom: 2.5em;
}
#moab {
    text-transform: uppercase;
    text-align: center;
    color: white;
    position: relative;
    bottom: 2.75em;
}
#rocky {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    bottom: 17.9em;
}
#swiss {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    bottom: 17.5em;
}
#uk {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    bottom: 17.5em;
}
#usa {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    bottom: 17.5em;
}
#wyoming {
    text-transform: uppercase;
    text-align: center;
    color: white;
    position: relative;
    bottom: 17.5em;
}
#your-info {
    display: none;
    visibility: hidden;
}
#contact {
    margin-top: 0em;
    padding: .5em .5em;
    background-color: #000000;
    color: white;
    text-align: center;
}
label[for=your-name], label[for=your-email] {
    margin-right: 21em;
    text-transform: uppercase;
    font-size: .75em;
}
#your-name, #your-email, #your-message {
    display: grid;
    margin: 0px 80px 20px 80px;
    padding: 5px;
    width: 300px;
    align-items: center;
    border-radius: .1em;
    font-size: .75em;
}
::placeholder {
    color: #007d7b;
    text-transform: uppercase;
    font-weight: bold;
}
label[for=your-message] {
    margin-right: 19em;
    text-transform: uppercase;
    font-size: .75em;
}
#my-submit {
    color: white;
    text-transform: uppercase;
    background-color: #007d7b;
    width: 200px;
    border-radius: 2em;
    padding: 5px;
    font-weight: bold;
}
footer {
    background-color: #000000;
    margin-top: 0em;
    padding: 3em;
    color: white;
    text-transform: uppercase;
}
@media screen and (min-width:880px) {
    body {
        width: 880px;
        margin-bottom: 0;
    }
    #gallery {
        display: grid;
        position: relative;
        grid-template-columns: 49% 49%;
        grid-template-rows: auto auto auto auto auto auto;
        grid-column-gap: 0%;
        justify-content: left;
        margin-left: -23px;
        margin-top: 75px;
        padding-top: 75px;
    }
    #gallery > h2 {
        display: flex;
        position: absolute;
        top: -2em;
        left: 11.1em;
        padding: 5px;
    }
    #gallery > p {
        display: flex;
        position: absolute;
        top: -1em;
        padding: 30px 0px 0px 1.2em;
    }
    #chile-img, #chile {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    #chile {
        position: relative;
        top: -13%;
        left: 5%;
    }
    #guatemala-img, #guatemala{
        grid-column: 2;
        grid-row: 1;
    }
    #guatemala {
        position: relative;
        top: -88%;
        right: -8%;
    }
    #hawaii-img, #hawaii {
        grid-column: 1;
        grid-row: 2;
    }
    #hawaii {
        position: relative;
        top: -5%;
        left: 5%;
    }
    #iran-img, #iran {
        grid-column: 2;
        grid-row: 2;
    }
    #iran {
        position: relative;
        top: -93%;
        right: -5%;
    }
    #ireland-img, #ireland {
        grid-column: 1;
        grid-row: 3;
    }
    #ireland {
        position: relative;
        top: -93%;
        right: -5%;
    }
    #italy-img, #italy {
        grid-column: 2;
        grid-row: 3;
    }
    #italy {
        position: relative;
        top: -6%;
        right: -3%;
    }
    #moab-img, #moab {
        grid-column: 1;
        grid-row: 4;
    }
    #moab {
        position: relative;
        top: -12%;
        left: 10%;
    }
    #rocky-img, #rocky {
        grid-column: 2;
        grid-row: 4;
    }
    #rocky {
        position: relative;
        top: -90%;
        left: 7%;
    }
    #swiss-img, #swiss {
        grid-column: 1;
        grid-row: 5;
    }
    #swiss {
        position: relative;
        top: -90%;
        left: 10%;
    }
    #uk-img, #uk {
        grid-column: 2;
        grid-row: 5;
    }
    #uk {
        position: relative;
        top: -88%;
        right: -6%;
    }
    #usa-img, #usa {
        grid-column: 1;
        grid-row: 6;
    }
    #usa {
        position: relative;
        top: -88%;
        right: -6%;
    }
    #wyoming-img, #wyoming {
        grid-column: 2;
        grid-row: 6;
    }
    #wyoming {
        position: relative;
        top: -88%;
        right: -6%;
    }
    #contact {
        position: relative;
    }
    #your-name, #your-email, #your-message {
        align-items: center;
        position: relative;
        width: 600px;
        margin-left: 14%;
    }
    #my-submit {
        width: 300px;
    }
    label[for=your-name], label[for=your-email], label[for=your-message] {
        position: relative;
        margin-left: -37%;
    }
    footer {
        padding: 1em 15em;
        text-align: center;
    }
}
@media screen and (min-width:1300px) {
    body {
        width: 1300px;
    }
    ul {
        padding: 3em 14em;
        margin-right: -14em;
        padding-left: 49em;
    }
    #gallery > h2 {
        left: 17.9em;
    }
    #gallery {
        grid-template-columns: 30% 30% 30%;
        gap: 1.75em;
    }
    #hawaii-img, #hawaii {
        grid-column: 3;
        grid-row: 1;
    }
    #hawaii {
        top: -13%;
        left: 5%
    }
    #iran-img, #iran {
        grid-column: 1;
        grid-row: 2;
    }
    #ireland-img, #ireland {
        grid-column: 2;
        grid-row: 2;
    }
    #italy-img, #italy {
        grid-column: 3;
        grid-row: 2
    }
    #moab-img, #moab {
        grid-column: 1;
        grid-row: 3;
    }
    #rocky-img, #rocky {
        grid-column: 2;
        grid-row: 3;
    }
    #swiss-img, #swiss {
        grid-column: 3;
        grid-row: 3
    }
    #uk-img, #uk {
        grid-column: 1;
        grid-row: 4;
    }
    #usa-img, #usa {
        grid-column: 2;
        grid-row: 4;
    }
    #wyoming-img, #wyoming {
        grid-column: 3;
        grid-row: 4;
    }
    #your-name, #your-email, #your-message {
        align-items: center;
        width: 800px;
        margin-left: 19em;
    }
    label[for=your-name], label[for=your-email], label[for=your-message] {
        margin-left: -500px;
    }
    #my-submit {
        width: 500px;
    }
}